<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Virtual mobile demo</title>
        <link rel="stylesheet" type="text/css" href="./css/basic.css" />
        <link rel="stylesheet" type="text/css" href="../dist/css/keyboard.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <div ng-controller="testCtrl">
            <ul class="form">
                <li>
                    <label>e-mail<input type="text" ng-model="user.email" ng-keyboard="abc 123" /></label>
                </li>
                <li>
                    <label>username<input type="text" ng-model="user.name" ng-keyboard="abc" /></label>
                </li>
                <li>
                    <label>phone<input type="text" ng-model="user.phone" ng-keyboard="abc 123" /></label>
                </li>
            </ul>
        </div>

        <script type="text/javascript" src="./js/libs/angular.js"></script>
        <script type="text/javascript" src="../dist/js/angular-mobile-keyboard.js"></script>
        <script type="text/javascript">
            var myApp = angular.module("myApp", ["ngMobileKeyboard"]);
            myApp.controller("testCtrl", function($scope) {
                $scope.user = {
                    email: "",
                    name: "",
                    phone: ""
                };
                $scope.printOutData = function() {
                    console.log($scope.user);   
                };
            });
        </script>
    </body>
</html>
