<div id="virtualKb" class="kb-ctner" ng-class="{'active': showKeyboard}">
    <ul ng-show="showCurrKb('ABC')">
        <li>
            <button>Q</button>
            <button>W</button>
            <button>E</button>
            <button>R</button>
            <button>T</button>
            <button>Y</button>
            <button>U</button>
            <button>I</button>
            <button>O</button>
            <button>P</button>
        </li>
        <li>
            <button>A</button>
            <button>S</button>
            <button>D</button>
            <button>F</button>
            <button>G</button>
            <button>H</button>
            <button>J</button>
            <button>K</button>
            <button>L</button>
        </li>
        <li>
            <button class="func button-caps pull-left" ng-class="{'active': isCap}" data-func="caps">Caps</button>
            <button>Z</button>
            <button>X</button>
            <button>C</button>
            <button>V</button>
            <button>B</button>
            <button>N</button>
            <button>M</button>
            <button class="func button-del pull-right" data-func="backspace">DEL</button>
        </li>
        <li>
            <button class="func switch switch-num" ng-disabled="getNextKbName() == kbTypes[kbIdx]" data-func="switch" ng-bind="getNextKbName()"></button>
            <button class="space" data-value=" ">space</button>
            <button>.</button>
            <button class="func enter" data-func="enter">Go</button>
        </li>
    </ul>
    <ul ng-show="showCurrKb('123')">
        <li ng-show="isNum">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>0</button>
        </li>
        <li ng-show="isNum">
            <button>-</button>
            <button>/</button>
            <button>:</button>
            <button>;</button>
            <button>(</button>
            <button>)</button>
            <button>$</button>
            <button>&</button>
            <button>@</button>
            <button>"</button>
        </li>

        <li ng-show="!isNum">
            <button>[</button>
            <button>]</button>
            <button>{</button>
            <button>}</button>
            <button>#</button>
            <button>%</button>
            <button>^</button>
            <button>*</button>
            <button>+</button>
            <button>=</button>
        </li>
        <li ng-show="!isNum">
            <button>_</button>
            <button>\</button>
            <button>|</button>
            <button>~</button>
            <button data-value="<"><</button>
            <button data-value=">">></button>
            <button>€</button>
            <button>£</button>
            <button>¥</button>
            <button>•</button>
        </li>
        <li>
            <button class="func pull-left switch" data-func="switchChar" ng-bind="getSwitchCharText()"></button>
            <button class="lg">.</button>
            <button class="lg">,</button>
            <button class="lg">?</button>
            <button class="lg">!</button>
            <button class="lg">'</button>
            <button class="func button-del pull-right" data-func="backspace">DEL</button>
        </li>
        <li>
            <button class="func switch switch-num" data-func="switch" ng-bind="getNextKbName()"></button>
            <button class="space" data-value=" ">space</button>
            <button>.</button>
            <button class="func enter" data-func="enter">Go</button>
        </li>
    </ul>
</div>
